@mixin border-box {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

[role="main"] {
    .article-wrapper {

        //archive-info
        .archive-info {
            @include border-box;
            width: 100%;
            dl {
                font-size: 1.60714286em; /* 22.5px */
                margin: 0 0 2%;
                &:after {
                    background-color: #C1C1C1;
                    border-bottom: 1px solid #FFF;
                    content: "";
                    display: block;
                    height: 1px;
                    margin-top: 2%;
                }
                dt,
                dd {
                    display: table-cell;
                }
                dt {
                    font-family: "Fjalla One", sans-serif;
                    &:after {
                        content: ":";
                        margin-right: 0.5em;
                    }
                }
            }
            ul {
                margin: 0 0 5%;
                padding: 0;
                &:after {
                    background-color: #C1C1C1;
                    border-bottom: 1px solid #FFF;
                    content: "";
                    display: block;
                    height: 1px;
                    margin-top: 2%;
                }
                li {
                    display: table-cell;
                    width: 5%;
                    &:last-of-type {
                        text-align: right;
                    }
                    a {
                        border-radius: 3px;
                        display: block;
                        padding: 0 1em;
                        &:hover {
                            background-color: #DDD;
                            color: #000;
                        }
                    }
                }
            }
        }

        //article
        article {
            letter-spacing: 1px;
            margin-bottom: 10%;
            h1,
            .archive,
            footer {
                letter-spacing: 0;
            }
            .archive {
                margin-bottom: 5%;
                .category-info,
                .tag-info {
                    display: inline;
                    margin: 0 0 0 1em;
                    padding: 0;
                    li {
                        display: inline;
                        &:after {
                            content: ",\2002";
                            font-size: 1.1em;
                        }
                    }
                    &:before {
                        content: "Tag:\2002";
                        font-family: "Fjalla One",sans-serif;
                        font-size: 1.25em;
                    }
                }
                .category-info {
                    &:before {
                        content: "Category:\2002";
                    }
                    &:after {
                        content: none;
                    }
                }
                .tag-info {
                    li {
                        &:last-of-type:after {
                            content: none;
                        }
                    }
                }
            }

            //footer
            footer {
                margin: 5% 0 0;
                &:before {
                    background-color: #C1C1C1;
                    border-bottom: 1px solid #FFF;
                    content: "";
                    display: block;
                    height: 1px;
                    margin: 0 0 2%;
                }
                time {
                    display: table-cell;
                    font-family: "Fjalla One", sans-serif;
                    font-size: 1.25em;
                    width: 100%;
                }
                aside {
                    display: table-cell;
                    .social {
                        ul {
                            display: table;
                            margin: 0;
                            padding: 0;
                            li {
                                display: table-cell;
                                padding-right: 3px;
                                &:last-of-type {
                                    padding-right: 0;
                                }
                                a,
                                .count {
                                    background-color: #000;
                                    border-radius: 3px;
                                    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
                                    color: #FFF;
                                    display: block;
                                    font: bold 0.928571429em/31px "Helvetica", "Arial", sans-serif;
                                    height: 30px;
                                    position: relative;
                                    text-align: center;
                                    text-decoration: none;
                                    text-shadow: none;
                                    width: 30px;
                                }
                                .count {
                                    background-color: #DADADA;
                                    box-shadow: none;
                                    color: inherit;
                                    font-size: 0.846154em; /* 12px */
                                    position: static;
                                    text-shadow: inherit;
                                }
                            }
                            .twitter {
                                a {
                                    &:hover {
                                        background-color: #5BD6FD;
                                    }
                                }
                            }
                            .facebook {
                                a {
                                    &:hover {
                                        background-color: #3B5998;
                                    }
                                }
                            }
                            .hatena {
                                a {
                                    &:hover {
                                        background-image:     -webkit-gradient(linear, left top, left bottom, from(#568BCA), color-stop(0.5, #568BCA), color-stop(0.5, #2C6EBD));
                                        background-image: -moz-linear-gradient(to bottom, #568BCA 50%, #2C6EBD 50%);
                                        background-image:      linear-gradient(to bottom, #568BCA 50%, #2C6EBD 50%);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        //adsense
        .adsense-wrapper {
            margin-bottom: 10%;
            @include border-box;
            &:before,
            &:after {
                background-color: #C1C1C1;
                border-bottom: 1px solid #FFF;
                content: "";
                display: block;
                height: 1px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        .adsense {
            height: 60px;
            width: 468px;
            margin: 5% auto;
        }
    }
}
