body {
    color: #333;
    font: 62.5%/1 "Open Sans", sans-serif; /* 62.5% = 10px */
    margin: 0;
}

a {
    color: #000;
}

a:hover {
    color: #666;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}



p {
    margin: 0 0 1em;
}

code {
    font-family: "Menlo", "Consolas", monospace;
}

figure {
    background-color: #EFEFEF;
    border: 1px solid #BBB;
    border-radius: 2px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.08) inset, 1px 1px 0 #FFF;
    color: #000;
    font-size: 0.857142857em; /* 12px */
    letter-spacing: 1px;
    margin: 0 0 1em;
    text-shadow: none;
    blockquote {
        margin: 0 0 1em;
        padding: 1em 1em 0 4em;
        position: relative;
        &:before {
            color: rgba(0, 0, 0, 0.05);
            content: "\201C";
            cursor: default;
            font: bold 8em/1em "Helvetica", "Arial", sans-serif;
            left: 0;
            position: absolute;
            top: -0.0833333333em; /* 8px */
        }
        *:last-child {
            margin-bottom: 0;
        }
        & + figcaption {
            margin: 0 1em 1em 4em;
            text-align: right;
            &:before {
                background-color: #CCC;
                border-bottom: 1px solid #FFF;
                content: "";
                display: block;
                height: 1px;
                margin: 1em 0 0.6em;
            }
            cite:before,
            cite,
            cite a {
                font-size: 0.9em;
                font-style: normal;
            }
            cite:before {
                content: "via: ";
            }
        }
    }
}

ins {
    display: block;
    margin-top: 10%;
    text-decoration: none;
     h2 {
        font-weight: normal;
        line-height: 1.5em !important;
        &:after {
            background-color: #C1C1C1;
            border-bottom: 1px solid #FFF;
            content: "";
            display: block;
            height: 1px;
        }
    }
}

table,
tr,
th,
td {
    background-color: #E6E6E6;
    border: solid 1px #BBB;
    border-collapse: collapse;
    border-radius: 2px;
    box-shadow: inset 1px 1px 0 #FFF, 1px 1px 0px #FFF;
    line-height: 2.35714286em; /* 33px */
    padding: 0 5px;
}

table {
    box-shadow: none;
    color: #000;
    margin: 0 0 1em;
    width: 100%;
}

th {
    background-color: #E1E1E1;
}

td:hover {
    background: #E3E3E3;
}
