[role="main"] {
    background-color: #E6E6E6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
    font-size: 1.4em;
    line-height: 1.5;
    max-width: 950px;
    padding: 2% -webkit-calc((100% - 950px) / 2) 5%;
    padding: 2%    -moz-calc((100% - 950px) / 2) 5%;
    padding: 2%         calc((100% - 950px) / 2) 5%;
    position: relative;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
    width: 100%;
    z-index: 2; /* ((role="banner") = z-index:3;) > ((role="main") = z-index:2;) > ((role="contentinfo") = z-index:1;) */
    h1 {
        font-size: 2.5em;
        font-weight: normal;
        line-height: 1;
        margin-bottom: 0.25em;
    }
    .article-wrapper,
    .section-wrapper,
    [role="complementary"] {
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        display: table-cell;
        max-width: 700px;
        min-width: 700px;
        padding-right: 5%;
        vertical-align: top;
        width: 700px;
    }
}
